.pages {
    background-color:#7A7999;
    border-radius: 2%;
    display: flex;
	height: 25px;
    justify-content: center;
    list-style-type:none; 
	padding: 0px;
    margin: 0px;
}

.pageBtn {
    background-color:#7A7999;
    font-weight:bold;
    color: black;
    border: 0px;
}

.pageBtn:hover {
	background:linear-gradient(to bottom, #fb9e25, #ffc477);
	background-color:#fb9e25;
    font-weight:bold;
    color: white;
}

.pageBtn:focus {
	background:linear-gradient(to bottom, #fb9e25, #ffc477);
	background-color:#fb9e25;
    font-weight:bold;
    color: white;
}
